@page "/"


<div class="d-flex">
    <div class="card card-body text-center font-weight-bolder mt-2">
        <h1>Bienvenido a</h1>
    </div>
    <center><img src="/images/mercateclogo.jpg" class="img-fluid" height="400" width="400" alt="Alternate Text" /></center>
</div>


<hr class="dropdown-divider" />
<div class="card card-body text-center font-weight-bolder my-3">
    <h1>¡Comienza a vender en 3 simples pasos!</h1>
</div>

<div id="steps" class="row">
    <div class="col col-lg-4">
        <div class="card">
            <div class="card-header text-center font-weight-bolder">1. ¡Publica!</div>
            <div class="card-body">
                <div class="text-center mb-2">
                    <i class="far fa-paper-plane fa-6x"></i>
                </div>
                <p class="card-text text-justify">
                    Publica desde nuestra App, añade sus caracteristicas principales, una foto, el precio
                    y no olvides dejar tu información de contacto.
                </p>

            </div>
        </div>
    </div>
    <div class="col col-lg-4">
        <div class="card">
            <div class="card-header text-center font-weight-bolder">2. Espera...</div>
            <div class="card-body">
                <div class="text-center mb-2">
                    <i class="far fa-pause-circle fa-6x"></i>
                </div>
                <p class="card-text text-justify">
                    La paciencia es una virtud, espera a que algún interesado te contacte para vender tu producto.
                </p>

            </div>
        </div>
    </div>
    <div class="col col-lg-4">
        <div class="card">
            <div class="card-header text-center font-weight-bolder">3. ¡Vende!</div>
            <div class="card-body">
                <div class="text-center mb-2">
                    <i class="far fa-handshake fa-6x"></i>
                </div>
                <p class="card-text text-justify">
                    !Felicidades!, has realizado tu primera venta en nuestro sitio, sigue publicando
                    productos para seguir vendiendo.
                </p>

            </div>
        </div>
    </div>
</div>

<style>
    #steps .card {
        transition: all 0.2s ease-in-out
    }
    #steps .card:hover{
        transform: scale(1.1)
    }
</style>






