@inherits LayoutComponentBase

<div class="page" style="background-color:#FAB70F">
    <div style="background-image: none; background: linear-gradient(180deg, rgba(219,140,13,1) 0%, rgba(223,111,12,1) 64%); " class="sidebar shadow">
        <NavMenu />
    </div>

    <div class="main">
    

        <div class="content px-4">
            @Body
        </div>
    </div>

</div>

